button.toggleButton {
    cursor: pointer;
    background-color: transparent;
    background-image: -moz-linear-gradient(center top, #444, #000);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border: solid 2px #8e1b0e;
    border-radius: 10px;
    padding: 7px 7px;
    color: white;
    font-weight:700;
    height: 60px;
    min-width: 60px;
    margin:3px;
}

button.iconBtn {
    padding:0px;
    border-radius:100%;
}

.btnIco {
    height: 25px;
    margin: 5px;
}

.btnIcoLg {
    height:50px;
    width:50px;
}

button.toggleButton.iconBtn {
    filter: brightness(50%);
}

.reversed {
    text-decoration:underline;
}

button.toggleButton.down {
    background-color: transparent;
    background-image: -moz-linear-gradient(center top, #84211E, #000);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom: solid 2px #eaeaea;
    border-right: solid 2px #eaeaea;
    filter: grayscale(0%);
    -webkit-box-shadow: 0px 0px 5px 3px #8e1b0e;
    -moz-box-shadow: 0px 0px 5px 3px #8e1b0e;
    box-shadow: 0px 0px 5px 3px #8e1b0e;
}

button.toggleButton:hover {
    -webkit-box-shadow: 0px 0px 5px 3px #8e1b0e;
    -moz-box-shadow: 0px 0px 5px 3px #8e1b0e;
    box-shadow: 0px 0px 5px 3px #8e1b0e;
    filter: grayscale(0%);
}

#pageContainer {
    background: url('../../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.darkerPic {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.metalicBackground {
    background-image: url('../../img/ws_Dark_Grunge_Metal_Texture_1920x1080.jpg');
    border-radius: 80px;
    border: 2px solid silver;
}

.cardImage {
    border: none;
    border-radius: 13px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 13px;
}

    .cardImage:hover {
        -webkit-box-shadow: 0px 0px 5px 3px #8e1b0e;
        -moz-box-shadow: 0px 0px 5px 3px #8e1b0e;
        box-shadow: 0px 0px 5px 3px #8e1b0e;
    }

.star {
    width: 25px;
}

    .star:hover {
        background: #2E5674;
        border-right: 1px solid #38678B;
        border-bottom: 1px solid #38678B;
        border-left: 1px solid #24435B;
        border-top: 1px solid #24435B;
    }

#controllers {
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    width: 223px;
    background: url('../img/ControlPanelBackround.jpg') no-repeat;
}
