<h2 class="myLabel">Create deck</h2>

<div class="form-group">
    <label class="myLabel" for="deckName">Name:</label>
    <input type="text" class="form-control" id="deckName" ng-model="deckName">
    <label class="myLabel" for="deckDesc">Deck Description:</label>
    <textarea class="form-control" rows="5" id="deckDesc" ng-model="deckDesc"></textarea>
    <button ng-click="createDeck(deckName,deckDesc)" class="btn btn-success">Add Deck</button>
    <button ng-click="setDeckMenuPath('deckList')" class="btn btn-warning">Cancel</button>
</div>
