<h2 class="myLabel">List of owned decks</h2>
<table>
    <tr ng-repeat-start="d in decks"></tr>
    <tr>{{d.Deck.DeckName}}</tr>
    <tr ng-repeat-end="d in decks"></tr>
</table>
<button>Add Deck</button>