@model IEnumerable<MtgCollectionWebApp.Models.Card>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    @using (Html.BeginForm("Index", "Cards", FormMethod.Get))
    {
        <p>Search: @Html.TextBox("SearchString")</p>
        <button id="search"></button>
    }

<div>
    <label>Cards</label>
    <div id="detailsDiv"></div>
</div>


@section scripts {
   <script>
       $('#search').click(function (evt) {

           var $detailDiv = $('#detailsDiv'),
               url = $(this).data('url');

           $.get(url, function (data){
                $detailDiv.replaceWith(data);
           });
       });
   </script>
}