@model  System.Web.Mvc.PartialViewResult

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div ng-app="myApp" ng-controller="myCtrl">


    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
   
    <!-- <tr><th>Name</th><th>Type</th><th>Mana Cost</th><th>Artist</th><th>Text</th><th>Flavour</th><th>Power</th><th>Toughness</th><th>Image</th><th>Details</th></tr>-->

    <div id="dvCards" ng-repeat="x in data | filter:firstName">
        <table id="table" class="table">
            
            <tr>
                <td>
                    {{ x["Card"]["CardName"] }}
                </td>
                <td>
                    {{ x["Card"]["CardType"] }}
                </td>
                <td>
                    {{ x["Card"]["CardManaCost"] }}
                </td>
                <td>
                    {{ x["Card"]["CardArtist"] }}
                </td>
                <td>
                    {{ x["Card"]["CardText"] }}
                </td>
                <td>
                    {{ x["Card"]["CardFlavour"] }}
                </td>
                <td>
                    {{ x["Card"]["CardPower"] }}
                </td>
                <td>
                    {{ x["Card"]["CardToughness"] }}
                </td>
                <td>
                    <img ng-src={{x["Card"]["CardImageUrl"]}} /> 
                </td>
                <td>
                    <button ng-click="addOne(x);">+</button>
                </td>
                <td>
                    {{x["Quantity"]}}
                </td>
                <td>
                    <button ng-click="subOne(x);">-</button>
                </td>        
            </tr>
        </table>
</div>
</div>

@section scripts{
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {

        $http.get("http://localhost:59756/api/CardsApi/").success(function (response) {
           $scope.data = response;
        });


        $scope.addOne = function (entry) {
            changeQuantity(entry["Card"]["CardId"], +1);
            entry["Quantity"] = entry["Quantity"] + 1;
        }

        $scope.subOne = function (entry) {
            changeQuantity(entry["Card"]["CardId"], -1);
            if (entry["Quantity"] != 0) {
                entry["Quantity"] = entry["Quantity"] - 1;
            }
        }

        function changeQuantity(cardId, value) {
            $.ajax({
                url: 'http://localhost:59756/api/Quantity/' + cardId + "?value=" + value,
                type: "PUT",
            }).done(function (data) {
            }).fail(function (err) {
                alert('fail')
            }).success(function (result) {
            });
        }
    });
</script>
}