@model System.Web.Mvc.PartialViewResult

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input id="txtTest" type="text" name="q" style="width: 400px;" />
<button id="buttonTest"></button>
<div id="dvCards">
   
</div>

@section scripts{
    <script type="text/javascript">

    $(document).ready(function () {
        $("#txtTest").keyup(function () {
            var categoryId = $("#txtTest").val();
            $("#dvCards").load('@(Url.Action("GetCardsByName", "Cards",null, Request.Url.Scheme))?q=' + categoryId);
        });
    });
</script>  
}