@model IEnumerable<MtgCollectionWebApp.Models.Card>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<form action="/Cards/SearchByName" method="get">
    <input id="txtTest" type="text" name="q" style="width: 400px;" />
    <input type="submit" value="Search" />
</form>

<div>@{Html.RenderPartial("DisplayCardsPartialView", Model);}</div>